<h4>{{ title }}</h4>
 
<div class="table-container">
    
  
  <div class="table-horizontal-container">
    <table class="unfixed-table">
      <thead>
        <tr><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
	    {# {% for student in students %} #}
        <tr><th>{{ ClientLS }}</th><td>{{ Client }}</td></tr>
       {% endfor %}
      </tbody>
      
      
    </table>